@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlesMain>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{ Layout = "Master.cshtml"; }

<article class="my-4">
    
    <!-- News Main Page Description -->
    @Umbraco.Field("articlesListDescription")
    
    <!-- List of News Articles -->
    <h2 class="text-center mt-5 mb-4">All the articles</h2>
    @Umbraco.RenderMacro("listArticles")
    
</articles>