@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsMain>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{ Layout = "Master.cshtml"; }

<article class="my-4">
    
    <!-- Project Main Page Description -->
    @Umbraco.Field("projectsListDescription")
    
    <!-- List of projects -->
    <h2 class="text-center mt-5 mb-4">All the projects</h2>
    @Umbraco.RenderMacro("listProjects")
    
</article>